[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
alembic = "*"
psycopg2-binary = "*"
databases = {extras = ["postgresql"], version = "*"}
asyncpg = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pytest = "*"
sqlalchemy-utils = "*"
aioredis = "*"

[dev-packages]

[requires]
python_version = "3.11"